html, body{
    margin: 0;
    padding: 0;
    background-color: black;
}

#title{
    font-family: 'Rubik Doodle Shadow', system-ui;
    color: #21543A;
    font-size: 3.5em;
    text-align: center;
    
}

#title-inicial{
    font-family: 'Rubik Doodle Shadow', system-ui;
    color: #21543A;
    font-size: 3.5em;
    text-align: center;
    
}

.container{
    display: flex;
    flex-direction: column;
    max-width: 320px;
    margin: 30px auto;
}

#input-question{
    border: 0;
    padding: 15px;

}


#add-button{
    
    width: 50%;
    margin: 10px auto;    
    background-color: #21543A;
    border: 0;
    padding: 10px;
    color: white;
    font-size: 1.5em;
    border-radius: 5px;
    font-family: 'Protest Revolution', sans-serif; 
    cursor: pointer;  


}

#add-lista{
    
    width: 50%;
    margin: 10px auto;    
    background-color: #661923;
    border: 0;
    padding: 10px;
    color: white ;
    font-size: 1.5em;
    border-radius: 5px;
    font-family: 'Protest Revolution', sans-serif;   


}

a{
    text-decoration: none !important;
    color: white;
    font-family: 'Protest Revolution', sans-serif; 
}

label{
    font-family: 'Protest Revolution', sans-serif;
    color: white;
    font-size: 2em;
    margin: 5px;
}


.inputs{
    border: 0;
    padding: 15px;

}

.div-answers{
    
    display: flex;
    align-items: center;
    
}

.div-answers input {
    flex: 1;
    margin-right: 10px; /* Ajuste conforme necessário */
}

.div-answers button {
    border: 0;
    padding: 10px;
    color: white;
    background-color: #21543A;
    font-size: 1.5em;
    border-radius: 5px;
    font-family: 'Protest Revolution', sans-serif;
}


.div-select{
    display: flex;
    align-items: center;
    
}

.div-select select{
    background-color: white;
    flex: 1;
    margin-right: 10px; /* Ajuste conforme necessário */

}

.div-select button{    
    border: 0;
    padding: 10px;
    color: white;
    background-color: #8b0000;
    font-size: 1.5em;
    border-radius: 5px;
    font-family: 'Protest Revolution', sans-serif;
}


